[submodule "anthropic-cookbook"]
	path = anthropic-cookbook
	url = https://github.com/anthropics/anthropic-cookbook.git
[submodule "courses"]
	path = courses
	url = https://github.com/anthropics/courses.git
[submodule "prompt-eng-interactive-tutorial"]
	path = prompt-eng-interactive-tutorial
	url = https://github.com/anthropics/prompt-eng-interactive-tutorial.git
[submodule "openai-cookbook"]
	path = openai-cookbook
	url = https://github.com/openai/openai-cookbook.git
[submodule "openai-python"]
	path = openai-python
	url = https://github.com/openai/openai-python.git
[submodule "prompt-tuning-playbook"]
	path = prompt-tuning-playbook
	url = https://github.com/varungodbole/prompt-tuning-playbook.git
[submodule "gemma-cookbook"]
	path = gemma-cookbook
	url = https://github.com/google-gemini/gemma-cookbook.git
[submodule "evaluation-guidebook"]
	path = evaluation-guidebook
	url = https://github.com/huggingface/evaluation-guidebook.git
